* {
  font-family: Roboto;
}

@media screen and (max-width: 1025px) {
  .grid-container {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media screen and (max-width: 640px) {
  .header {
    flex-direction: column;
    justify-content: space-evenly !important;
    height: 150px;
  }

  .grid-container {
    grid-template-columns: 1fr !important;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  max-height: 380px;
  max-width: 1200px;
  padding: 20px 30px 0;
  position: relative;
}

.header {
  align-items: center;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

.MuiInputBase-root {
  border-radius: 4px 0 0 4px !important;
  height: 5vh;
}

.MuiButtonBase-root {
  border-radius: 0 4px 4px 0 !important;
  font-weight: 300 !important;
  height: 5vh;
}
