.grid-item {
  border-radius: 8px;
  box-shadow: 0 4px 10px 0 rgba(32, 33, 37, 0.06);
  overflow: hidden;
  margin: 15px;
}

.grid-item:hover > .image-container img {
  transition: transform 300ms ease-in-out;
  transform: scale(1.05);
}

.image-container {
  border: 1px solid #fffffff3;
  border-radius: 10px 10px 0 0;
  border-bottom: none;
  margin-right: -0.1em;
  overflow: hidden;
  padding-bottom: 60%;
  position: relative;
}

.image-container img {
  height: 100%;
  position: absolute;
  width: 100%;
}

.text-container {
  font-size: 100%;
}

.title-card {
  font-weight: 500;
  padding: 0.875rem 1rem;
}

.description {
  font-weight: 300;
}

.bottom-card {
  border-top: 2px dotted #e4e4e4;
  font-weight: 300;
  padding: 1rem;
}
